<ion-header>
    <ion-navbar>
        <ion-title>People</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgMain">

    <ion-card>
        <ion-card-header>People : {{dataCount}}</ion-card-header>
    </ion-card>

    <!-- Array to card -->
    <ion-card *ngFor='let dataAll of dataAlls'>
        <ion-card-content>
            <ion-card-title>{{ dataAll.name }}</ion-card-title>
            <img src="../../assets/photo/people/{{ dataAll.name }}.png" alt="{{ dataAll.name }}"> 
            <div class="card-subtitle"> Height :  {{ dataAll.height}} </div>
            <div class="card-subtitle"> mass : {{ dataAll.mass}} </div>
            <div class="card-subtitle"> hair color : {{ dataAll.hair_color}} </div>
            <div class="card-subtitle"> skin color : {{ dataAll.skin_color}} </div>
            <div class="card-subtitle"> eye color : {{ dataAll.eye_color}} </div>
            <div class="card-subtitle"> birth year : {{ dataAll.birth_year}} </div>
            <div class="card-subtitle"> gender : {{ dataAll.gender}} </div>
        </ion-card-content>
    </ion-card>

    <!-- infinite scroll -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>