<ion-header>
    <ion-navbar hideBackButton>
        <ion-title>Star Wars Archive</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content>

    <ion-list>

        <a (tap)="movieAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/movie.jpg">
                </ion-thumbnail>
                <h2>Movie</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>

        <a (tap)="starshipAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/starship.jpeg">
                </ion-thumbnail>
                <h2>starship</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>

        <a (tap)="peopleAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/people.jpg">
                </ion-thumbnail>
                <h2>People</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>

        <a (tap)="vehiclesAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/vehicles.jpg">
                </ion-thumbnail>
                <h2>Vehicles</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>

        <a (tap)="speciesAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/species.jpg">
                </ion-thumbnail>
                <h2>Species</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>

        <a (tap)="planetAction()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../assets/imgs/planet.png">
                </ion-thumbnail>
                <h2>Planets</h2>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </a>
    </ion-list>

</ion-content>
