<ion-content>

    <ion-slides pager>
        <ion-slides pager>
            <ion-slide *ngFor="let slide of slides">
                <ion-toolbar class="toolbar">
                    <ion-buttons end>
                        <button (tap)="showHomeSelect()" ion-button color="primary">Skip</button>
                    </ion-buttons>
                </ion-toolbar>
                <img [src]="slide.image" class="slide-image"/>
                <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                <p [innerHTML]="slide.description"></p>
            </ion-slide>
            <ion-slide>
                <ion-toolbar></ion-toolbar>
                <img src="../../assets/imgs/clap.jpg" class="slide-image"/>
                <h2 class="slide-title">Thank you for participate</h2>
                <button (tap)="showHomeSelect()" ion-button large clear icon-end color="primary">Continue
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-slide>
        </ion-slides>
    </ion-slides>
</ion-content>
