<ion-header>
    <ion-navbar>
        <ion-title>species</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content class="bgMain">

    <ion-card>
        <ion-card-header>Species : {{dataCount}}</ion-card-header>
    </ion-card>

    <ion-card *ngFor='let dataAll of dataAlls'>
        <ion-card-content>
            <ion-card-title>{{ dataAll.name }}</ion-card-title>
            <img src="../../assets/photo/species/{{ dataAll.name }}.png" alt="{{ dataAll.name }}"> 
            <div class="card-subtitle"> Classification :  {{ dataAll.classification}} </div>
            <div class="card-subtitle"> Designation : {{ dataAll.designation}} </div>
            <div class="card-subtitle"> Average height : {{ dataAll.average_height}} </div>
            <div class="card-subtitle"> Skin colors : {{ dataAll.skin_colors}} </div>
            <div class="card-subtitle"> Hair colors : {{ dataAll.hair_colors}} </div>
            <div class="card-subtitle"> Eye colors : {{ dataAll.eye_colors}} </div>
            <div class="card-subtitle"> Average lifespan : {{ dataAll.average_lifespan}} </div>
            <div class="card-subtitle"> Language : {{ dataAll.language}} </div>
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>