<ion-header>
    <ion-navbar>
        <ion-title>movie</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgMain">

    <ion-card>
        <ion-card-header>Movie : {{dataCount}}</ion-card-header>
    </ion-card>

    <ion-card *ngFor='let dataAll of dataAlls' class="card">
        <ion-card-content>
            <ion-card-title>{{ dataAll.title }}</ion-card-title>
            <img src="../../assets/photo/movie/{{ dataAll.episode_id }}.png" alt="{{ dataAll.episode_id }}"> 
            <div class="card-subtitle"> Episode :  {{ dataAll.episode_id}} </div>
            <div class="card-subtitle"> Director : {{ dataAll.director}} </div>
            <div class="card-subtitle lastInfo"> Release : {{ dataAll.release_date}} </div>

            <p>{{ dataAll.opening_crawl}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>