<ion-header>
    <ion-navbar>
        <ion-title>planet</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content class="bgMain">

    <ion-card>
        <ion-card-header>Planet : {{dataCount}}</ion-card-header>
    </ion-card>

    <ion-card *ngFor='let dataAll of dataAlls'>
        <ion-card-content>
            <ion-card-title>{{ dataAll.name }}</ion-card-title>
            <img src="../../assets/photo/planet/{{ dataAll.name }}.png" alt="{{ dataAll.name }}"> 
            <div class="card-subtitle"> Rotation period :  {{ dataAll.rotation_period}} </div>
            <div class="card-subtitle"> Orbital period : {{ dataAll.orbital_period}} </div>
            <div class="card-subtitle"> diameter : {{ dataAll.diameter}} </div>
            <div class="card-subtitle"> climate : {{ dataAll.climate}} </div>
            <div class="card-subtitle"> diameter : {{ dataAll.diameter}} </div>
            <div class="card-subtitle"> gravity : {{ dataAll.gravity}} </div>
            <div class="card-subtitle"> terrain : {{ dataAll.terrain}} </div>
            <div class="card-subtitle"> surface_water : {{ dataAll.surface_water}} </div>
            <div class="card-subtitle"> population : {{ dataAll.population}} </div>
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>