<ion-header>
        <ion-navbar>
            <ion-title>Vehicles</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content class="bgMain">
    
        <ion-card>
            <ion-card-header>Vehicles : {{dataCount}}</ion-card-header>
        </ion-card>
    
        <ion-card *ngFor='let dataAll of dataAlls'>
            <ion-card-content>
                <ion-card-title>{{ dataAll.name }}</ion-card-title>
                <img src="../../assets/photo/vehicles/{{ dataAll.cost_in_credits }}{{ dataAll.length }}{{ dataAll.passengers}}.png" alt="{{ dataAll.name }}"> 
                <div class="card-subtitle"> Model :  {{ dataAll.model}} </div>
                <div class="card-subtitle"> Manufacturer : {{ dataAll.manufacturer}} </div>
                <div class="card-subtitle"> Cost in credits : {{ dataAll.cost_in_credits}} </div>
                <div class="card-subtitle"> Length : {{ dataAll.length}} </div>
                <div class="card-subtitle"> Max atmosphering speed : {{ dataAll.max_atmosphering_speed}} </div>
                <div class="card-subtitle"> Crew : {{ dataAll.crew}} </div>
                <div class="card-subtitle"> Passengers : {{ dataAll.passengers}} </div>
                <div class="card-subtitle"> Cargo capacity : {{ dataAll.cargo_capacity}} </div>
                <div class="card-subtitle"> Consumables : {{ dataAll.consumables}} </div>
                <div class="card-subtitle"> Vehicle class : {{ dataAll.vehicle_class}} </div>
            </ion-card-content>
        </ion-card>
    
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    
    </ion-content>