<ion-header>
    <ion-navbar>
        <ion-title>Starship</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgMain">

    <ion-card>
        <ion-card-header>Ship : {{dataCount}}</ion-card-header>
    </ion-card>

    <ion-card *ngFor='let dataAll of dataAlls'>
        <ion-card-content>
            <ion-card-title>{{ dataAll.name }}</ion-card-title>
            <img src="../../assets/photo/starship/{{ dataAll.name }}.png" alt="{{ dataAll.name }}"> 
            <div class="card-subtitle"> model :  {{ dataAll.model}} </div>
            <div class="card-subtitle"> length : {{ dataAll.length}} </div>
            <div class="card-subtitle"> starship class : {{ dataAll.starship_class}} </div>
            <div class="card-subtitle"> passengers : {{ dataAll.passengers}} </div>
            <div class="card-subtitle"> manufacturer : {{ dataAll.manufacturer}} </div>
            <div class="card-subtitle"> hyperdrive rating : {{ dataAll.hyperdrive_rating}} </div>
            <div class="card-subtitle"> cost in credits : {{ dataAll.cost_in_credits}} </div>
            <div class="card-subtitle"> crew : {{ dataAll.crew}} </div>
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>